<template>
  <div class="contact">
    <!-- {{$t('nav.contact')}} -->
    <div class="header">
      <div class="title">{{$t('nav.contact')}}</div>
      <div class="menu">
        <router-link tag="p" to="/home">
          <i class="iconfont icon-Left" style="font-size:0.4rem; color:black"></i>
        </router-link>
      </div>
    </div>
    <div class="info">
      <img src="../assets/img/logo.png" alt="">
      <p style="color:#5c5c5c;font-size:12px;margin-bottom:0.66rem">{{$t('contact.gs')}}</p>
      <h3 style="color:#565656;font-size:14px;margin-bottom:0.22rem;animation: leftinfo 1s alternate ease-in-out;">联系我们</h3>
      <p style="color:#969696;font-size:12px;margin-bottom:0.6rem;animation: rightinfo 1s alternate ease-in-out;">contact us</p>
      <p style="color:#969696;font-size:12px;margin-bottom:0.56rem">
          <i class="iconfont icon-icondianhua"></i> 
          <span>{{$t('contact.tel')}}</span>
        </p>
      <p style="color:#969696;font-size:12px;margin-bottom:0.56rem">
        <i class="iconfont icon-youxiang"></i> 
        <span>{{$t('contact.email')}}</span>
        </p>
      <p style="color:#969696;font-size:12px;margin-bottom:0.56rem">
        <i class="iconfont icon-icondizhi"></i> 
        <span>{{$t('contact.add')}}</span>
        </p>
    </div>
    <div class="map">
      <img class="mappic" src="../assets/img/map.png" />
    </div>
  </div>
</template>
<script>
export default {
  name: "contact",
  data(){
    return{

    }
  }
};
</script>
<style lang="scss" scoped>
.contact {
  width: 100%;
  height: 100%;
  //position: relative;
  .info {
    width: 90%;
    padding-top: 2.24rem;
    margin-left: 5%;
    margin-right: 5%;
    img{
      width:2.08rem;
      height:0.72rem;
      margin-bottom:0.26rem;
    }
    .iconfont{
      width:18px;
      height:18px;
      margin-right:0.34rem;
      font-size:18px;
      color:#969696;
    }
  }
  .map{
    margin-top:0.72rem;
    width:98%;
    margin-left:1%;
    margin-right:1%;
    img{
      width:100%;
    }
  }
}
</style>
