<template>
  <div id="home">
    <!-- 轮播 -->
    <div style="padding-top:1.34rem;"></div>
    <div class="banner">
      <img src="../assets/img/index.png" class="bannerpic">
      <p class="leftinfo">全球汽车座椅核心部件解决方案提供商</p>
      <p class="rightinfo">Innovation and development sustainable</p>
    </div>
    <!-- 产品服务列表 -->
    <div class="list">
      <div class="item iteml" data-index="0" @mousedown="skip">
        <img src="../assets/img/4.png" />
        <p>{{$t('serverName.ktxt')}}</p>
      </div>
      <div class="item itemr" data-index="1" @mousedown="skip">
        <img src="../assets/img/2.png" />
        <p>{{$t('serverName.ssxt')}}</p>
      </div>
      <div class="item iteml" data-index="2" @mousedown="skip">
        <img src="../assets/img/8.png" />
        <p>{{$t('serverName.dkxt')}}</p>
      </div>
      <div class="item itemr" data-index="3" @mousedown="skip">
        <img src="../assets/img/10.png" />
        <p>{{$t('serverName.fzcp')}}</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "home",
  data() {
    return {};
  },
  mounted() {},
  destroyed() {},
  methods: {
    skip(e) {
      let id = e.currentTarget.dataset.index;
      this.$router.push({ path: `/productservice/${id}` });
    }
  }
};
</script>
<style lang="scss" scoped>
#home {
  width: 100%;
  background: white;
  .banner {
    //animation: bottominfo 1s alternate ease-in-out;
    width: 100%;
    height: 7.46rem;
    position: relative;
    background-image: url('../assets/img/bg.png');
    .bannerpic {
      position: absolute;
      top: 1.28rem;
      left: 50%;
      transform: translateX(-50%);
      width: 3.02rem;
      height: 3.56rem;
    }
    .rightinfo {
      width: 100%;
      color: #6f6f6e;
      font-size:12px;
      position: absolute;
      bottom: 1.04rem;
      text-align: center;
      animation: rightinfo 1s alternate ease-in-out;
    }
    .leftinfo {
      width: 100%;
      color: #6f6f6e;
      font-size:16px;
      position: absolute;
      bottom: 1.28rem;
      text-align: center;
      margin-bottom:10px;
      animation: leftinfo 1s alternate ease-in-out;
    }
  }
  .list {
    width: 100%;
    height: 4.52rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .item {
      width: 50%;
      font-size: 16px;
      color: #767676;
      text-align: center;
      img {
        width: 0.66rem;
        height: 0.66rem;
        margin-top: 0.54rem;
        margin-bottom: 0.24rem;
      }
    }
    .iteml {
      // transition: all 0.8s cubic-bezier(0.55, 0, 0.1, 1);
      animation: leftinfo 1s alternate ease-in-out;
    }
    .itemr {
      // transition: all 0.8s cubic-bezier(0.55, 0, 0.1, 1);
      animation: rightinfo 1s alternate ease-in-out;
    }
  }
}
@media screen and (max-width: 1080px) {
}
</style>
