<template>
  <div id="introduce">
    <div class="header">
      <div class="title">{{$t('nav.corporateoveriew')}}</div>
      <div class="menu">
        <router-link tag="p" to="/home">
          <i class="iconfont icon-Left" style="font-size:0.4rem; color:black"></i>
        </router-link>
      </div>
    </div>
    <!-- navbar -->
    <mt-navbar v-model="selected" fixed>
      <mt-tab-item id="1">
        {{$t('childnav[0]')}}
        <span :class="selected == 1 ? 'borshow':'borhide'"></span>
      </mt-tab-item>
      <mt-tab-item id="2">
        {{$t('childnav[1]')}}
        <span :class="selected == 2 ? 'borshow':'borhide'"></span>
      </mt-tab-item>
      <mt-tab-item id="3">
        {{$t('childnav[2]')}}
        <span :class="selected == 3 ? 'borshow':'borhide'"></span>
      </mt-tab-item>
    </mt-navbar>
    <!-- mt-tab -->
    <mt-tab-container v-model="selected">
      <mt-tab-container-item id="1">
        <div class="aboutme">
          <img src="../assets/img/aboutme.png" class="pic" />
          <p class="jieshao">{{$t('aboutme.whoareyouinfo')}}</p>
          <h4 class="title">{{$t('aboutme.whatwedeliver')}}</h4>
          <p class="jieshao">{{$t('aboutme.whatwedeliverinfo')}}</p>
          <h4 class="title">{{$t('aboutme.howwedelicer')}}</h4>
          <p class="jieshao">{{$t('aboutme.howwedelicerinfo')}}</p>
          <h4 class="title">{{$t('aboutme.whatisourfuture')}}</h4>
          <p class="jieshao">{{$t('aboutme.whatisourfutureinfo')}}</p>
          <ul class="about_num">
            <li class="about_numitem">
              <p>全球总部</p>
              <span>Global Headquarter</span>
              <h3 style="margin-top:15px;">中国长春</h3>
              <span>Changchun</span>
            </li>
            <li class="about_numitem">
              <p>成立时间</p>
              <span>Founded</span>
              <h3 class="bigfont">1988</h3>
            </li>
            <li class="about_numitem">
              <p>聚焦市场</p>
              <span>Market of Focus</span>
              <h3 style="margin-top:15px;">中国与全球</h3>
              <span> China & World</span>
            </li>
            <li class="about_numitem">
              <p>分布省市</p>
              <span>National Coverage</span>
              <h3 class="bigfont">20+</h3>
            </li>
            <li class="about_numitem">
              <p>客户数量</p>
              <span>Number of Clients</span>
              <h3 class="bigfont">90+</h3>
            </li>
            <li class="about_numitem">
              <p>员工人数</p>
              <span>Number of Employees</span>
              <h3 class="bigfont">300+</h3>
            </li>
            <li class="about_numitem">
              <p>研发人员占比</p>
              <span>Research Personal</span>
              <h3 class="bigfont">31%</h3>
            </li>
            <li class="about_numitem">
              <p>二级库数量</p>
              <span>Distribution Centres</span>
              <h3 class="bigfont">29</h3>
            </li>
            <li class="about_numitem">
              <p>生产基地</p>
              <span>R&D Base</span>
              <h3 class="bigfont">6</h3>
            </li>
            <li class="about_numitem">
              <p>出口总额(美元/2017)</p>
              <span>Innovation Centre</span>
              <h3 class="bigfont">830K</h3>
            </li>
            <li class="about_numitem">
              <p>营业总额</p>
              <span>Total Sales Value</span>
              <h3 class="bigfont">32,000k</h3>
            </li>
            <li class="about_numitem">
              <p>专利技术</p>
              <span>Proprietary technology</span>
              <h3 class="bigfont">136</h3>
            </li>
          </ul>
        </div>
      </mt-tab-container-item>
      <mt-tab-container-item id="2">
        <div class="history">
          <ul class="ul">
            <li class="item">
              <div class="lt">
                <h3 class="year">1988</h3>
                <div class="linear-leaf">
                  <div class="circular"></div>
                </div>
              </div>
              <div class="rt">
                <p>{{$t('fzlc.1988')}}</p>
                <p>{{$t('fzlc.198801')}}</p>
              </div>
            </li>
            <li class="item">
              <div class="lt">
                <h3 class="year">1993</h3>
                <div class="linear-leaf">
                  <div class="circular"></div>
                </div>
              </div>
              <div class="rt">
                <p>{{$t('fzlc.1993')}}</p>
                <p>{{$t('fzlc.199301')}}</p>
              </div>
            </li>
            <li class="item">
              <div class="lt">
                <h3 class="year">1999</h3>
                <div class="linear-leaf">
                  <div class="circular"></div>
                </div>
              </div>
              <div class="rt">
                <p>{{$t('fzlc.1999')}}</p>
                <p>{{$t('fzlc.199901')}}</p>
              </div>
            </li>
            <li class="item">
              <div class="lt">
                <h3 class="year">2003</h3>
                <div class="linear-leaf">
                  <div class="circular"></div>
                </div>
              </div>
              <div class="rt">
                <p>{{$t('fzlc.2003')}}</p>
              </div>
            </li>
            <li class="item">
              <div class="lt">
                <h3 class="year">2007</h3>
                <div class="linear-leaf">
                  <div class="circular"></div>
                </div>
              </div>
              <div class="rt">
                <p>{{$t('fzlc.2007')}}</p>
                <p>{{$t('fzlc.200701')}}</p>
                <p>{{$t('fzlc.200702')}}</p>
                <p>{{$t('fzlc.200703')}}</p>
              </div>
            </li>
            <li class="item">
              <div class="lt">
                <h3 class="year">2011</h3>
                <div class="linear-leaf">
                  <div class="circular"></div>
                </div>
              </div>
              <div class="rt">
                <p>{{$t('fzlc.2011')}}</p>
                <p>{{$t('fzlc.201101')}}</p>
                <p>{{$t('fzlc.201102')}}</p>
                <p>{{$t('fzlc.201103')}}</p>
              </div>
            </li>
            <li class="item">
              <div class="lt">
                <h3 class="year">2013</h3>
                <div class="linear-leaf">
                  <div class="circular"></div>
                </div>
              </div>
              <div class="rt">
                <p>{{$t('fzlc.2013')}}</p>
                <p>{{$t('fzlc.201301')}}</p>
                <p>{{$t('fzlc.201302')}}</p>
                <p>{{$t('fzlc.201303')}}</p>
              </div>
            </li>
            <li class="item">
              <div class="lt">
                <h3 class="year">2015</h3>
                <div class="linear-leaf">
                  <div class="circular"></div>
                </div>
              </div>
              <div class="rt">
                <p>{{$t('fzlc.2015')}}</p>
                <p>{{$t('fzlc.201501')}}</p>
                <p>{{$t('fzlc.201502')}}</p>
              </div>
            </li>
            <li class="item">
              <div class="lt">
                <h3 class="year">2016</h3>
                <div class="linear-leaf">
                  <div class="circular"></div>
                </div>
              </div>
              <div class="rt">
                <p>{{$t('fzlc.2016')}}</p>
                <p>{{$t('fzlc.201601')}}</p>
              </div>
            </li>
            <li class="item">
              <div class="lt">
                <h3 class="year">2017</h3>
              </div>
              <div class="rt">
                <p>{{$t('fzlc.2017')}}</p>
                <p>{{$t('fzlc.201701')}}</p>
              </div>
            </li>
          </ul>
        </div>
      </mt-tab-container-item>
      <mt-tab-container-item id="3">
        <div class="advantage">
          <div class="msg">
            <h4>{{$t('advantages.whychooseus')}}</h4>
            <p>{{$t('advantages.whychooseusinfo')}}</p>
          </div>
          <div class="msg">
            <h4>{{$t('advantages.technological')}}</h4>
            <p>{{$t('advantages.technologicalinfo')}}</p>
          </div>
          <div class="msg">
            <h4>{{$t('advantages.information')}}</h4>
            <p>{{$t('advantages.informationinfo')}}</p>
          </div>
          <div class="mgs">
            <h4>{{$t('advantages.visionofoperation')}}</h4>
            <p>{{$t('advantages.visionofoperationinfo')}}</p>
          </div>
          <div class="mgs">
            <h4>{{$t('advantages.qualitypolicy')}}</h4>
            <p>{{$t('advantages.qualitypolicyinfo')}}</p>
          </div>
        </div>
      </mt-tab-container-item>
    </mt-tab-container>
  </div>
  <!-- <li class="cir">
              <div class="linear-leaf">
                <div class="circular"></div>
              </div>
            </li> -->
</template>

<script>
export default {
  name: "introduce",
  data() {
    return {
      selected: "1",
      startX: 0,
      startY: 0
    };
  },
  mounted() {
    // document.body.ontouchstart = e => {
    //   (this.startX = e.changedTouches[0].pageX),
    //     (this.startY = e.changedTouches[0].pageY);
    //   console.log(this.startX, this.startY);
    // };
    // document.body.ontouchmove = e => {
    //   //获取滑动屏幕时的X,Y
    //   console.log(e.changedTouches[0].pageX);
    //   let endX = e.changedTouches[0].pageX;
    //   let endY = e.changedTouches[0].pageY;
    //   //获取滑动距离
    //   let distanceX = endX - this.startX;
    //   let distanceY = endY - this.startY;
    //   //判断滑动方向
    //   if (Math.abs(distanceX) > Math.abs(distanceY) && distanceX > 0) {
    //     console.log("往右滑动");
    //   } else if (Math.abs(distanceX) > Math.abs(distanceY) && distanceX < 0) {
    //     console.log("往左滑动");
    //   } else if (Math.abs(distanceX) < Math.abs(distanceY) && distanceY < 0) {
    //     console.log("往上滑动");
    //   } else if (Math.abs(distanceX) < Math.abs(distanceY) && distanceY > 0) {
    //     console.log("往下滑动");
    //   } else {
    //     console.log("点击未滑动");
    //   }
    // };
  },
  methods: {}
};
</script>
<style lang="scss" scoped>
#introduce {
  //navbar
  .mint-navbar {
    padding-top: 1.78rem;
    .mint-tab-item {
      color: #d8dce3;
      font-size: 0.36rem;
      position: relative;
       animation: bottominfo 0.5s alternate ease-in-out;
      .borhide {
        display: none;
      }
      .borshow {
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%);
        width: 0.48rem;
        height: 0.04rem;
        background: #3b5174;
      }
    }
    .is-selected {
      //border-bottom: 0.04rem solid #3b5174;
      border-bottom: none;
      color: #3b5174;
    }
  }
  .mint-tab-container-wrap .mint-tab-container-item {
    padding-top: 3.7rem;
  }
  //body
  //关于我们
  .aboutme {
    width: 90.4%;
    // padding-top: 3.13rem;
    margin-left: 4.8%;
    margin-right: 4.8%;
    .pic {
      // width:6.78rem;
       width: 100%;
      //height: 4.42rem;
      margin-bottom: 0.32rem;
      animation: topinfo 1s alternate ease-in-out;
    }
    .title {
      font-size: 0.3rem;
      color: #bababa;
      margin-bottom: 0.32rem;
       animation: leftinfo 1s alternate ease-in-out;
    }
    .jieshao {
      text-indent:24px;
      color: #acacac;
      margin-bottom: 1.2rem;
      animation: bottominfo 1s alternate ease-in-out;
      // &:first-letter{
      //   font-size:14px;
      //   color:black;
      // }
    }
    .about_num {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .about_numitem {
        width: 50%;
        text-align: left;
        padding-bottom: 1.04rem;
        p {
          font-size: 12px;
          color: #828282;
        }
        span {
          color: #bfbfbf;
          font-size: 10px;
        }
        h3 {
          font-size: 18px;
          color: #3b5174;
        }
        .bigfont {
          margin-top: 15px;
          font-size: 25px;
        }
      }
      .about_numitem:nth-of-type(even) {
        width: 40%;
      }
    }
  }
  //发展历程
  .history {
    width: 87.2%;
    margin-left: 6.4%;
    margin-right: 6.4%;
    .ul {
      width: 100%;
      .item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .lt {
          width: 30%;
          position: relative;
          display: flex;
          flex-direction: column;
          .year {
            height: 0.84rem;
            line-height: 0.84rem;
            font-size: 24px;
            color: #3b5157;
            text-align: center;
             animation: leftinfo 0.5s alternate ease-in-out;
          }
          .linear-leaf {
            width: 0.06rem;
            height: 80%;
            border-radius: 1px;
            background: #d8d8d8;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            .circular {
              width: 0.22rem;
              height: 0.22rem;
              border-radius: 50%;
              background: #d8d8d8;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
        .rt {
           animation: rightinfo 0.5s alternate ease-in-out;
          width: 70%;
          color: #8c8d8e;
          padding-bottom: 1.4rem;
        }
      }
      // .cir {
      //   width: 100%;
      //   height: 1rem;
      //   position: relative;
      // }
    }
  }
  //企业优势
  .advantage {
    width: 90.4%;
    margin-left: 4.8%;
    margin-right: 4.8%;
    h4 {
      margin-bottom: 0.32rem;
      font-size: 16px;
      color: #909090;
       animation: leftinfo 0.5s alternate ease-in-out;
    }
    p {
      font-size: 12px;
      color: #b2b2b2;
      margin-bottom: 1.32rem;
       animation: rightinfo 0.5s alternate ease-in-out;
    }
  }
}
</style>
