<template>
  <div class="productservice">
    <div class="my-header">
      <div class="logo">
          <img :src="items[0].src">
      </div>
      <div class="menu">
        <router-link tag="p" to="/home">
          <i class="iconfont icon-Left"></i>
        </router-link>
      </div>
    </div>
    <div style="width:100%;padding-top:2.38rem;"></div>
    <h3  class="tit">{{items[0].tit}}</h3>
    <swiper :options="swiperOption" ref="swiper">
      <swiper-slide>
        <SwiperRow :id=1></SwiperRow>
      </swiper-slide>
      <swiper-slide>
        <SwiperRow :id=2></SwiperRow>
      </swiper-slide>
      <swiper-slide>
        <SwiperRow :id=3></SwiperRow>
      </swiper-slide>
      <swiper-slide>
        <SwiperRow :id=4></SwiperRow>
      </swiper-slide>
    </swiper>
  </div>
</template>
<script>
import store from "../store/store.js";
import SwiperRow from "./swiper";
export default {
  name: "productservice",
  data() {
    return {
      items: [{ "src": "./dist/4.png", "tit": this.$t("serverName.ktxt") }],
      i: 0,
      swiperOption: {
        direction: "vertical",
        slidesPerView: 1,
        spaceBetween: 30,
        mousewheel: true,
        //observer:true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        on: {
          slideChangeTransitionStart: () => {
            let swiper = this.$refs.swiper.swiper;
            this.i = swiper.activeIndex;
            this.selectSwiper(this.i);
          }
        }
      }
    };
  },
  mounted() {
    console.log(this.$route.params.id);
    this.selectSwiper(this.$route.params.id);
  },
  components: { SwiperRow },
  directives: {},
  beforeUpdate() {},
  computed: {},
  updated() {},
  methods: {
    selectSwiper(id) {
      id = id - 0;
      this.$refs.swiper.swiper.slideTo(id, 1000, true);
      switch (id) {
        case 0:
          this.items = [{ src: "./dist/4.png", tit: this.$t("serverName.ktxt") }];
          break;
        case 1:
          this.items = [{ src: "./dist/2.png", tit: this.$t("serverName.ssxt") }];
          break;
        case 2:
          this.items = [{ src: "./dist/8.png", tit: this.$t("serverName.dkxt") }];
          break;
        case 3:
          this.items = [{ src: "./dist/10.png", tit: this.$t("serverName.fzcp") }];
          break;
        default:
          break;
      }
      //console.log(this.items);
    }
  }
};
</script>
<style lang="scss" scoped>
.productservice {
  width: 100%;
  height: 100%;
  background:white;
  //background: blueviolet;
  .my-header {
    width: 100%;
    height: 1.36rem;
    position: fixed;
    z-index: 99999;
    background:white;
    border:none;
    .logo {
      width: 0.66rem;
      height: 0.66rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        width: 100%;
        height: 100%;
      }
    }
    .menu {
      width: 0.4rem;
      height: 0.4rem;
      margin-top: 0.5rem;
      margin-left: 0.34rem;
      color: #a7a3a3;
      font-size:0.32rem;
    }
  }
  .tit{
    width:100%;
    position:fixed;
    top:1.34rem;
    color:#5a5a5a;
    font-size:14px;
    text-align: center;
    background:white;
    z-index: 99999;

  }
  .swiper-container {
    width: 100%;
    height: 10.84rem;
    .swiper-wrapper {
      .swiper-slide {
        height: 100%;
      }
    }
  }
}
</style>
