<template>
  <div class="productdistribution">
    <div class="header">
      <div class="title">{{$t('nav.networks')}}</div>
      <div class="menu">
        <router-link tag="p" to="/home">
          <i class="iconfont icon-Left" style="font-size:0.4rem; color:black"></i>
        </router-link>
      </div>
    </div>
    <div style="padding-top:2.4rem;width:100%;"></div>
    <div class="box">
      <h3>全球销售区域、工厂及布局</h3>
      <p>GLOBAL SALES TERRITORIES , DISTRIBUTION CENTRES AND PRODUCTION BASES</p>
      <img src="../assets/img/ditu.png" class="pic" />
      <h3>全球办公处及销售分布</h3>
      <p style="margin-bottom:0.82rem">GLOBAL PLANT</p>
    </div>
    <img src="../assets/img/ditu2.png" class="pic2" />
    <div class="box">
      <h3>国内客户分布</h3>
      <p>INLAND CLIENT DISTRIBUTION</p>
      <p style="margin-bottom:0.54rem">{{$t('networks.info')}}</p>
      <ul class="fenbu">
        <li>
          <i class="q" style="background:#5abdfc;border:1px solid #5abdfc"></i>
          <span>全球销售区域</span>
        </li>
        <li>
          <i class="q" style="background:#ffffff;border:1px solid #ccc"></i>
          <span>全国工厂</span>
        </li>
        <li>
          <i class="q" style="background:#9dd6f0;border:1px solid #9dd6f0 "></i>
          <span>工厂总部</span>
        </li>
      </ul>
      <ul class="fenbu2">
        <li>
          <i class="q" style="background:#9dd6f0;border:1px solid #9dd6f0"></i>
          <span>长春</span>
        </li>
        <li>
          <i class="q" style="background:#5abdfc;border:1px solid #5abdfc"></i>
          <span class="country">
            <span>中国</span>
            <span>北美</span>
            <span>欧洲</span>
            <span>泰国</span>
            <span>印度</span>
          </span>
        </li>
        <li>
          <i class="q" style="background:#ffffff;border:1px solid #ccc"></i>
          <span class="city">
            <span>沈阳南</span>
            <span style="text-align:center">沈阳北</span>
            <span style="text-align:right">重庆</span>
            <span>杭州</span>
            <span style="text-align:center">苏州</span>
            <span style="text-align:right">东莞</span>
          </span>
        </li>
      </ul>
      <ul class="fenbu3">
        <li class="div1item">
          <h3>长春</h3>
          <h3>Changchun</h3>
          <p>富维安道拓</p>
          <p>长春博泽</p>

        </li>
        <li class="div1item">
          <h3>北京</h3>
          <h3>Beijing</h3>
          <p>北京安道拓</p>
          <p>北京博泽</p>
        </li>
        <li class="div1item">
          <h3>上海</h3>
          <h3>Shanghai</h3>
          <p>延锋安道拓</p>
          <p>上海李尔</p>

        </li>
        <li class="div1item">
          <h3>武汉</h3>
          <h3>Wuhan</h3>
          <p>东风安道拓</p>
          <p>武汉东风李尔</p>

        </li>
        <li class="div1item">
          <h3>广州</h3>
          <h3>Guangzhou</h3>
          <p>东风安道拓</p>
        </li>
        <li class="div1item">
          <h3>重庆</h3>
          <h3>Chongqing</h3>
          <p>延锋安道拓</p>
          <p>重庆李尔</p>

        </li>
        <li class="div1item">
          <h3>沈阳</h3>
          <h3>Shenyang</h3>
          <p>金杯安道拓</p>
          <p>沈阳李尔</p>

        </li>
        <li class="div1item">
          <h3>郑州</h3>
          <h3>Zhengzhou</h3>
          <p>郑州日产</p>

        </li>
        <li class="div1item">
          <h3>深圳</h3>
          <h3>Shenzhen</h3>
          <p>深圳比亚迪</p>

        </li>
        <li class="div1item">
          <h3>海口</h3>
          <h3>Haikou</h3>
          <p>全兴工业</p>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: "productlayout"
};
</script>
<style lang="scss" scoped>
/*产品布局*/
.productdistribution {
  width: 100%;
  height: 100%;
      .pic2 {
      width: 100%;
      height: 3.06rem;
      margin-bottom: 1.4rem;
    }
  .box {
    width: 82.6%;
    margin-left: 8.8%;
    margin-right: 8.8%;
    
    h3 {
      font-size: 16px;
      color: #565656;
      margin-bottom: 0.22rem;
      animation: rightinfo 1s alternate ease-in-out;
    }
    p {
      color: #aeadad;
      margin-bottom: 0.36rem;
      animation: leftinfo 1s alternate ease-in-out;
    }
    .pic {
      width: 6.28rem;
      height: 4.92rem;
      margin-bottom: 0.7rem;
    }
    .fenbu {
      margin-bottom: 1.56rem;
      li {
        margin-bottom: 0.26rem;
      }
    }
    .q {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 999px;
      background: red;
      margin-right: 0.22rem;
    }
    .fenbu2 {
      li {
        width: 5.54rem;
        margin-bottom: 0.48rem;
        display: flex;
        line-height: 12px;
        color: #565656;
        .country {
          flex: 3;
          display: flex;
          justify-content: space-between;
        }
        .city {
          flex: 3;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 1.78rem;
          span {
            width: 33%;
            height: 0.54rem;
          }
        }
      }
    }
    .fenbu3 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .div1item {
        width: 26%;
        height: 1.7rem;
        font-size: 12px;
        margin-bottom: 1.3rem;
        h3 {
          font-size: 16px;
          color: #6e6e6e;
          margin: 0;
        }
        h3:nth-of-type(2) {
          color: #b5b5b5;
          font-size: 12px;
          margin-bottom: 0.08rem;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}
</style>
