<template>
  <div id="root">
    <div class="header">
      <div class="logo">
        <router-link to="/home">
          <img src="../assets/img/logo.png">
        </router-link>
      </div>
      <div class="menu" @click="showSidebar">
        <i class="iconfont icon-caidan" style="font-size:0.4rem; color:black"></i>
      </div>
      <div class="tab" @click="tab">
        <i :class="istab == 'cn'?'iconfont icon-yingyu':'iconfont icon-zhongwenwangzhan'"></i>
      </div>
    </div>
    <mt-popup v-model="menu" :modal=false position="left">
      <ul class="sidebar" @touchend="skip">
        <router-link tag="li" class="navitem" to="/introduce">{{$t('nav.corporateoveriew')}}</router-link>
        <router-link tag="li" class="navitem" to="/ProductLayout">{{$t('nav.networks')}}</router-link>
        <router-link tag="li" class="navitem" to="/ServiceNetwork">{{$t('nav.globapartners')}}</router-link>
        <router-link tag="li" class="navitem" to="/Contact">{{$t('nav.contact')}}</router-link>
      </ul>
    </mt-popup>
    <!-- <ul class="menu" @touchend="skip">
      <mt-cell title="企业介绍" to="/introduce" is-link></mt-cell>
      <mt-cell title="产品服务" to="/productService" is-link></mt-cell>
      <mt-cell title="产品布局" to="/productLayout" is-link></mt-cell>
      <mt-cell title="业务网络" to="/ServiceNetwork" is-link></mt-cell>
      <mt-cell title="联系方式" to="/Contact" is-link></mt-cell>
    </ul> -->
    <div class="main">
      <transition :name="transitionName">
        <router-view class="child-view"></router-view>
      </transition>
    </div>
  </div>
</template>
<script>
export default {
  name: "root",
  data() {
    return {
      menu: false,
      istab: "",
      transitionName: "slide-left"
    };
  },
  mounted() {
    if (localStorage.lang) {
      this.$i18n.locale = localStorage.lang;
      this.istab = this.$i18n.locale;
    } else {
      localStorage.lang = this.$i18n.locale;
      this.istab = this.$i18n.locale;
    }
  },
  methods: {
    tab() {
      if (this.istab == "en") {
        localStorage.lang = "cn";
        this.$i18n.locale = localStorage.lang;
        this.istab = "cn";
      } else if (this.istab == "cn") {
        localStorage.lang = "en";
        this.$i18n.locale = localStorage.lang;
        this.istab = "en";
      }
    },
    showSidebar() {
      this.menu = this.menu ? false : true;
    },
    skip() {
      this.menu = false;
    }
  }
};
</script>
<style lang="scss" scoped>
#root {
  width: 100%;
  .header {
    width: 100%;
    height: 1.36rem;
    border-bottom: 1px solid #d5d5d5;
    position: fixed;
    overflow: hidden;
    z-index: 99999;
    background: white;
    .logo {
      width: 1.7rem;
      height: 0.65rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        width: 100%;
        height: 100%;
      }
    }
    .menu {
      width: 0.4rem;
      height: 0.3rem;
      margin-top: 0.62rem;
      margin-left: 0.42rem;
      color: black;
    }
    .tab {
      position: absolute;
      top: 0.52rem;
      right: 0.42rem;
      width: 0.6rem;
      height: 0.6rem;
      font-size: 40px;
      .icon-zhongwenwangzhan {
        color: #ccc;
        font-size: 0.6rem;
      }
      .icon-yingyu {
        color: #ccc;
        font-size: 0.6rem;
      }
    }
  }
  .mint-popup {
    width: 100%;
    height: 100%;
  }
  .sidebar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 4.98rem;
    .navitem {
      text-align: center;
      width: 100%;
      height: 1.04rem;
      line-height: 1.04rem;
      font-size: 0.28rem;
      font-weight: 500;
      letter-spacing: 0.08rem;
      color: #767676;
    }
  }
  .main {
    width: 100%;
    height: 100%;
  }
}
</style>
