<template>
  <div class="servicenetwork">
    <div class="header">
      <div class="title">{{$t('nav.networks')}}</div>
      <div class="menu">
        <router-link tag="p" to="/home">
          <i class="iconfont icon-Left" style="font-size:0.4rem; color:black"></i>
        </router-link>
      </div>
    </div>
    <div class="box">
      <div style="width:100%;padding-top:2.42rem;"></div>
      <h3>我们的客户</h3>
      <span>OUR CLIENTS</span>
      <em class="bor"></em>
      <img src="../assets/img/kehu.png" class="pic" />
      <em class="bor" style="float:right;"></em>
      <div style="margin-bottom:0.7rem;"></div>
      <h3>广泛认可</h3>
      <span style="margin-bottom:0.54rem">HONOURS</span>
      <img src="../assets/img/kehu2.png" class="pic2" />
      <div class="pic3">
        <img src="../assets/img/zhengshu.png" />
        <div class="zf-info">
          <div style="width:100%;height:0.04rem;background:#848696;margin-bottom:0.03rem;"></div>
          <ul class="zs">
            <li class="zsitem">
              <i class="iconfont icon-xingxing"></i>
              <span>华晨金杯江森优秀供应商</span>
            </li>
            <li class="zsitem">
              <i class="iconfont icon-xingxing"></i>
              <span>比亚迪最佳配合供应商</span>
            </li>
            <li class="zsitem">
              <i class="iconfont icon-xingxing"></i>
              <span>世界华商协会理事长单位</span>
            </li>
            <li class="zsitem">
              <i class="iconfont icon-xingxing"></i>
              <span> 长城汽车金牌供应商</span>
            </li>
            <li class="zsitem">
              <i class="iconfont icon-xingxing"></i>
              <span>长春旭阳优秀供应商</span>
            </li>
            <li class="zsitem">
              <i class="iconfont icon-xingxing"></i>
              <span>上海延峰江森优秀供应商提名</span>
            </li>
            <li class="zsitem" style="width:100%;">
              <i class="iconfont icon-xingxing"></i>
              <span> 获得国家级科技型中小企业技术创新基金</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "servicenetwork"
};
</script>
<style lang="scss" scoped>
/*业务网络*/
.servicenetwork {
  width: 100%;
  height: 100%;
  // position: relative;
  .header {
    width: 100%;
    height: 1.36rem;
    border-bottom: 1px solid #d5d5d5;
    position: fixed;
    overflow: hidden;
    z-index: 99999;
    background: white;
    margin-bottom: 1.36rem;
    .logo {
      font-size: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .menu {
      width: 0.4rem;
      height: 0.3rem;
      margin-top: 0.62rem;
      margin-left: 0.42rem;
      color: black;
    }
  }
  .box {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  h3 {
    font-size: 14px;
    color: #565656;
    margin-bottom: 0.22rem;
    animation: leftinfo 1s alternate ease-in-out;
  }
  span {
    display: block;
    font-size: 8px;
    color: #c2c2c2;
    animation: rightinfo 1s alternate ease-in-out;
  }
  .bor {
    display: block;
    width: 1.28rem;
    height: 0.08rem;
    background: #d8d8d8;
    margin: 0.18rem 0;
  }
  .pic {
    width: 100%;
    height: 5.48rem;
  }
  .pic2 {
    width: 100%;
    height: 3.36rem;
    margin-bottom: 0.44rem;
  }
  .pic3 {
    width: 100%;
    //height: 3.36rem;
    padding-bottom: 0.66rem;
    position: relative;
    margin-bottom:24px;
    img {
      width: 100%;
    }
    .zf-info {
      position: absolute;
      top: 2.4rem;
      width: 100%;
      //height: 1rem;
      .zs {
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .zsitem {
          width: 50%;
          display: flex;
          color:#2e3b6b;
          line-height:18px;
          .icon-xingxing1{
            width:12px;
            height:12px;
            font-size:12px;
          }
          span{
            font-size:12px;
            color:#2e3b6b; 
          }
        }
      }
    }
  }
}
.businessscope {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1080px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  // background:red;
}
</style>
