<template>
  <div class="sw">
    <swiper :options="swiperOptionTop" class="gallery-top" ref="swiperTop">
      <swiper-slide class="sitem" v-for="item in data" :key="item.id" :data-index="item.id">
        <div class="swtop">
          <img :src="item.pic" />
        </div>
        <!-- <div class="swthumbs">
          <h3>{{item.name}}</h3>
          <span>{{item.msg}}</span>
        </div> -->
      </swiper-slide>
    </swiper>
    <div class="msgsw" v-for="item in datas" :key="item.id">
      <div class="swthumbs">
        <h3>{{item.name}}</h3>
        <span>{{item.msg}}</span>
      </div>
      <span>{{item.info}}</span>
    </div>
    <!-- swiper2 Thumbs -->
    <swiper :options="swiperOptionThumbs" class="gallery-thumbs" ref="swiperThumbs">
      <swiper-slide class="sitem" v-for="item in data" :key="item.id" :data-index="item.id">
        <img :src="item.pic" />
      </swiper-slide>
    </swiper>
  </div>
</template>
<script>
import Vue from "vue";
export default {
  props: ["id"],
  data() {
    return {
      data: "",
      datas: "",
      index: "",
      swiperTop: "",
      i: 0, //info
      // tab: 0,
      swiperOptionTop: {
        spaceBetween: 10,
        observer: true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents: true, //修改swiper的父元素时，自动初始化swiper
        on: {
          reachBeginning: () => {},
          slideChangeTransitionStart: () => {
            let swiper = this.$refs.swiperTop.swiper;
            this.i = swiper.slides[swiper.activeIndex].dataset.index;
            this.selectInfo();
          }
        }
      },
      swiperOptionThumbs: {
        spaceBetween: 10,
        centeredSlides: true,
        slidesPerView: 3,
        touchRatio: 0.2,
        slideToClickedSlide: true,
        on: {
          slideChangeTransitionStart: () => {
            let swiper = this.$refs.swiperThumbs.swiper;
            this.i = swiper.slides[swiper.activeIndex].dataset.index;
            console.log("swiperThumbs", this.i);
            this.selectInfo();
          }
        }
      }
    };
  },
  mounted() {
    var img = new Image();
    img.onload = function() {
      console.log("img is loaded");
    };
    img.onerror = function() {
      console.log("error!");
    };
    //img.src="http://www.abaonet.com/img.gif";
    function show() {
      console.log("body is loaded");
    }
    window.onload = show;
    this.index = this.$props.id;
    this.$nextTick(() => {
      this.swiperTop = this.$refs.swiperTop.swiper;
      const swiperThumbs = this.$refs.swiperThumbs.swiper;
      this.swiperTop.controller.control = swiperThumbs;
      swiperThumbs.controller.control = this.swiperTop;
    });
    setTimeout(() => {
      this.userswitch(this.index).then(() => {
        this.selectInfo(
          this.swiperTop.slides[this.swiperTop.activeIndex].dataset.index
        );
      });
    }, 0);
  },
  methods: {
    userswitch(index) {
      return new Promise((resolve, reject) => {
        index = index - 0;
        switch (index) {
          case 1:
            // console.log('climateSolution')
            this.data = this.$t("climateSolution");
            this.datas = this.$t("climateSolution");
            resolve();
            break;
          case 2:
            // console.log('comfortSolution')
            this.data = this.$t("comfortSolution");
            this.datas = this.$t("comfortSolution");
            resolve();
            break;
          case 3:
            // console.log('ElectronicsSolution')
            this.data = this.$t("ElectronicsSolution");
            this.datas = this.$t("ElectronicsSolution");
            resolve();
            break;
          case 4:
            // console.log('ancillaryProduct')
            this.data = this.$t("ancillaryProduct");
            this.datas = this.$t("ancillaryProduct");
            resolve();
            break;
          default:
            break;
        }
      });
    },
    selectInfo() {
      // console.log(
      //   "selectInfo",
      //   this.swiperTop.slides[this.swiperTop.activeIndex].dataset.index
      // );
      this.datas = this.data.filter((item, index) => {
        return (
          item.id ==
          this.swiperTop.slides[this.swiperTop.activeIndex].dataset.index
        );
      });
      //console.log(this.datas)
    }
  }
};
</script>
<style lang="scss" scoped>
.sw {
  width: 78%;
  height: 100%;
  margin-left: 11%;
  margin-right: 11%;
  background: white;
  .gallery-top {
    height: 3.9rem !important;
    width: 100%;
    .swiper-slide {
      height: 6rem;
      .swtop {
        width: 5.78rem;
        height: 3.78rem;
        margin: 0 auto;
        img {
          width: 100%;
          height: 100%;
        }
      }
      // .swthumbs {
      //   text-align: center;
      //   h3 {
      //     font-size: 18px;
      //     color: #565656;
      //     margin-bottom: 0.45rem;
      //   }
      //   span {
      //     font-size: 12px;
      //     color: #565656;
      //   }
      // }
    }
  }
  .msgsw {
    .swthumbs {
      text-align: center;
      h3 {
        font-size: 18px;
        color: #565656;
        margin: 0.32rem 0;
      }
      span {
        display: block;
        font-size: 12px;
        color: #565656;
        margin-bottom: 0.2rem;
      }
    }
    height:4rem;
    font-size: 12px;
    color: #cbcbcb;
    overflow-y: auto;
  }
  .gallery-thumbs {
    height: 20% !important;
    box-sizing: border-box;
  }
  .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
  .gallery-thumbs .swiper-slide-active {
    opacity: 1;
  }
}
</style>
