<template>
  <div id="app">
    <transition :name="transitionName">
      <router-view class="child-view"></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      transitionName: "slide-left"
    };
  },
  beforeRouteUpdate(to, from, next) {
    console.log('beforeRouteUpdate')
    let isBack = this.$router.isBack;
    if (isBack) {
      this.transitionName = "slide-right";
    } else {
      this.transitionName = "slide-left";
    }
    this.$router.isBack = false;
    next();
  }
};
</script>

<style lang="scss">
#app {
  width: 100%;
  height: 100%;
  background: white;
  .header {
    width: 100%;
    height: 1.36rem;
    position: fixed;
    overflow: hidden;
    z-index: 99999;
    background: white;
    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size:14px;
      font-weight:500;
    }
    .menu {
      width: 0.4rem;
      height: 0.4rem;
      margin-top: 0.5rem;
      margin-left: 0.34rem;
      color: #a7a3a3;
      font-size:0.32rem;
    }
  }
}
.child-view {
  position: absolute;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(10px, 0);
  transform: translate(10px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-10px, 0);
  transform: translate(-10px, 0);
}
//动画
@keyframes leftinfo {
  0% {
    // letter-spacing: 1px;
    // filter:blur(20px);
    opacity: 0.7;

    -webkit-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes rightinfo {
  0% {
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0);
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes topinfo {
  0% {
    opacity: 0.7;
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    // letter-spacing: 2px;
    // filter:blur(0);
  }
}
@keyframes bottominfo {
  0% {
    opacity: 0.7;
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    // letter-spacing: 2px;
    // filter:blur(0);
  }
}
</style>
